<div class="off-canvas-wrap ">
    <div class="close-off-canvas-wrap">
        <a href="#" id="of-close-off-canvas">
            <i class="fal fa-times"></i>
        </a>
    </div>
    <div class="off-canvas-inner">
        <div id="of-mobile-nav" class="mobile-menu-wrap">
            <ul class="mobile-menu">

                <li>
                    <a href="#">دموهای اصلی<i class="explain-menu fal fa-angle-left"></i></a>
                    <ul class="sub-menu">
                        <li><a href="Index_demo1.html">دموی اصلی 1</a></li>
                        <li><a href="Index_demo2.html">دموی اصلی 2</a></li>
                        <li><a href="Index_demo3.html">دموی اصلی 3</a></li>
                        <li><a href="Index_demo4.html">دموی اصلی 4</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">درباره ما<i class="explain-menu fal fa-angle-left"></i></a>
                    <ul class="sub-menu">
                        <li><a href="Aboutus1.html">درباره ما 1</a></li>
                        <li><a href="Aboutus2.html">درباره ما 2</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">ارتباط با ما<i class="explain-menu fal fa-angle-left"></i></a>
                    <ul class="sub-menu">
                        <li><a href="Contactus1.html">ارتباط ما 1</a></li>
                        <li><a href="Contactus2.html">ارتباط ما 2</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">پرسش و پاسخ<i class="explain-menu fal fa-angle-left"></i></a>
                    <ul class="sub-menu">
                        <li><a href="Faq1.html">پرسش و پاسخ 1</a></li>
                        <li><a href="Faq2.html">پرسش و پاسخ 2</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">تیم ما<i class="explain-menu fal fa-angle-left"></i></a>
                    <ul class="sub-menu">
                        <li><a href="Ourteam.html">اعضای تیم</a></li>
                        <li><a href="Ourteam_details.html">جزئیات تیم</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">خدمات ما<i class="explain-menu fal fa-angle-left"></i></a>
                    <ul class="sub-menu">
                        <li><a href="Service1.html">خدمات ما 1 </a></li>
                        <li><a href="Service2.html">خدمات ما 2</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">وبلاگ<i class="explain-menu fal fa-angle-left"></i></a>
                    <ul class="sub-menu">
                        <li><a href="blog_grid.html">وبلاگ جدولی </a></li>
                        <li><a href="blog_list.html">وبلاگ لیستی</a></li>
                        <li><a href="blog_destails.html">جزئیات وبلاگ</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">پروژه ها<i class="explain-menu fal fa-angle-left"></i></a>
                    <ul class="sub-menu">
                        <li><a href="Portfoilo1.html">نمونه پروژه 1 </a></li>
                        <li><a href="Portfoilo2.html">نمونه پروژه 2 </a></li>
                        <li><a href="Portfoilo3.html">نمونه پروژه 3 </a></li>
                        <li><a href="Portfoilo_details.html">جزئیات پروژه</a></li>
                    </ul>
                </li>
                <li><a href="404.html">صفحه 404</a></li>
                <li><a href="Login.html">صفحه ورود عضویت</a></li>
                <li><a href="Blank_page.html">صفحه خالی</a></li>

            </ul>
        </div>
    </div>
</div>

<header class="main_header wide_header">
    <div class="header_container">

        <div class="menu_wrapper menu_sticky">
            <div class="container tophead d-md-block d-none py-1">
                <div class="row">

                    <div class="col-lg-6 h-info text-right IRANSans_Medium">
                        <span class="text-white"><i class="fal fa-clock ml-2"></i>ساعت کاری : شنبه تا چهارشنبه - 8 تا 20</span>
                        <span class="text-white mx-3"><i class="fal fa-phone ml-2"></i>01733277585</span>
                        <span class="text-white"><i class="fal fa-envelope ml-2"></i>Info@gmail.com</span>
                    </div>
                    <div class="col-lg-6  text-left">
                        <ul class="social-list">
                            <li><a href="#"><i class="fab fa-whatsapp"></i></a></li>
                            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="container p_relative mobnav bg-cudark">
                <div id="navigation" class="of-drop-down of-main-menu" role="navigation">
                    <ul class="menu">
                        <li class="ml-3 test">
                            <a href="#" class="current d2logo">
                                <img src="Img/Logo.png" />
                            </a>
                        </li>

                        <li class="has_sub ">
                            <a href="#" class="currentlnklight">صفحه اصلی</a>
                            <div class="second">
                                <div class="inner">
                                    <ul>
                                        <li><a href="Index_demo1.html">صفحه اصلی دمو 1</a></li>
                                        <li><a href="Index_demo2.html">صفحه اصلی دمو 2</a></li>
                                        <li><a href="Index_demo3.html">صفحه اصلی دمو 3</a></li>
                                        <li><a href="Index_demo4.html">صفحه اصلی دمو 4</a></li>
                                    </ul>
                                </div>
                            </div>
                        </li>

                        <li class="has_sub narrow">
                            <a href="#">صفحات</a>

                            <div class="second">
                                <div class="inner">
                                    <ul>
                                        <li class="sub">
                                            <a href="#" class=""><i class="q_menu_arrow fal fa-angle-left"></i>درباره ما</a>
                                            <ul>
                                                <li><a href="Aboutus1.html">درباره ما 1</a></li>
                                                <li><a href="Aboutus2.html">درباره ما 2</a></li>
                                            </ul>
                                        </li>
                                        <li class="sub">
                                            <a href="#" class=""><i class="q_menu_arrow fal fa-angle-left"></i>ارتباط با ما</a>
                                            <ul>
                                                <li><a href="Contactus1.html">ارتباط با ما 1</a></li>
                                                <li><a href="Contactus2.html">ارتباط با ما 2</a></li>
                                            </ul>
                                        </li>
                                        <li class="sub">
                                            <a href="#" class=""><i class="q_menu_arrow fal fa-angle-left"></i>پرسش و پاسخ </a>
                                            <ul>
                                                <li><a href="Faq1.html">پرسش و پاسخ 1</a></li>
                                                <li><a href="Faq2.html">پرسش و پاسخ 2</a></li>
                                            </ul>
                                        </li>

                                        <li class="sub">
                                            <a href="#" class=""><i class="q_menu_arrow fal fa-angle-left"></i>تیم ما</a>
                                            <ul>
                                                <li><a href="Ourteam.html">اعضای تیم</a></li>
                                                <li><a href="Ourteam_details.html">جزئیات تیم ما</a></li>
                                            </ul>
                                        </li>
                                        <li class="sub">
                                            <a href="#" class=""><i class="q_menu_arrow fal fa-angle-left"></i>خدمات ما</a>
                                            <ul>
                                                <li><a href="Service1.html">خدمات ما 1</a></li>
                                                <li><a href="Service2.html">خدمات ما 2</a></li>
                                            </ul>
                                        </li>

                                        <li><a href="404.html">صفحه 404</a></li>
                                        <li><a href="Login.html">صفحه ورود عضویت</a></li>
                                        <li><a href="Blank_page.html">صفحه خالی</a></li>
                                    </ul>
                                </div>
                            </div>
                        </li>



                        <li class="has_sub ">
                            <a href="#">وبلاگ</a>
                            <div class="second">
                                <div class="inner">
                                    <ul>
                                        <li>
                                            <a href="blog_list.html">وبلاگ لیستی</a>
                                        </li>
                                        <li>
                                            <a href="blog_grid.html">وبلاگ جدولی</a>
                                        </li>

                                        <li>
                                            <a href="blog_destails.html">جزئیات وبلاگ</a>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                        </li>

                        <li class="has_sub narrow">
                            <a href="#">پروژه ها</a>

                            <div class="second">
                                <div class="inner">
                                    <ul>

                                        <li><a href="Portfoilo1.html">نمونه پروژه 1</a></li>
                                        <li><a href="Portfoilo2.html">نمونه پروژه 2</a></li>
                                        <li><a href="Portfoilo3.html">نمونه پروژه 3</a></li>
                                        <li><a href="Portfoilo_details.html">جزئیات پروژه</a></li>
                                    </ul>
                                </div>
                            </div>
                        </li>

                        <li><a href="Service2.html">خدمات ما</a></li>
                        <li><a href="Aboutus2.html">درباره ما</a></li>
                        <li><a href="Contactus2.html">تماس با ما</a></li>

                    </ul>
                </div>
                <div class="m_search pt-md-1">
                    <i class="fal fa-search"></i>

                </div>
                <div class="is-show mobile-nav-button">
                    <img src="Img/Logo.png" />
                    <a id="of-trigger" class="icon-wrap pr-3" href="#"> <i class="fal fa-bars"></i></a>
                </div>

                <form class="search_wrap mt-lg-0" id="ajax-form-search" method="get" action="">

                    <input type="text" id="search-form-text" class="search-field" value="" name="s" placeholder="کلید واژه مورد نظر ...">
                    <button><i class="fal fa-search"></i></button>

                    <input type="hidden" name="post_type" value="product">
                    <div id="ajax-search-result"></div>
                </form>
            </div>
        </div>
    </div>
</header>
