<div id="owl-mainslider" class="owl-carousel owl-theme text-center">
	<div class="item">
		<img src="/site/Img/slide1.jpg" class="img-fluid" />
	</div>

	<div class="item">
		<img src="/site/Img/slide4.jpg" class="img-fluid" />
	</div>
</div>
