﻿@{
    ViewData["Title"] = "صفحه مورد نظر یافت نشد";
}

<section class="bg-home d-flex align-items-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-md-12 text-center">
                <img src="/Site/img/404.webp" class="img-fluid" alt="404">
                <div class="text-capitalize text-dark mb-4 error-page">!صفحه ای یافت نشد</div>
                <p class="text-muted para-desc mx-auto">ممکن است صفحه ای که به دنبال آن میگردید حذف شده باشد و یا آدرس آن را به درستی وارد نکرده باشید</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 text-center">
                <a href="/" class="btn btn-warning text-white mt-4 ms-2">برو صفحه اصلی </a>
            </div>
        </div>
    </div>
</section>