@model UpdateAboutUsDTO;
@{
    ViewData["Title"] = "ویرایش صفحه تماس با ما";
    ViewData["selected"] = "ContactUs_Index";
}
<section>
    <div class="card">
        <div class="card-content">
            <div class="card-body">
                <ul class="nav nav-tabs mb-2">
                    <li class="nav-item current">
                        <a class="nav-link d-flex align-items-center active">
                            <i class='bx bx-phone-call'></i><span class="d-none d-sm-block">تماس با ما</span>
                        </a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active">
                        <form method="post" enctype="multipart/form-data">
                            <input type="hidden" asp-for="Id" />
                            <div class="card-title-details d-flex align-items-center mb-1 ml-1">
                                <div class="avatar bg-rgba-primary p-25 mr-2 ml-0">
                                    <img id="Selected-Image" class="img-fluid" src="@FilePath.AboutUsImagePath@Model.CurrentImageName" height="70" width="70">
                                </div>
                                <div class="mt-n25">
                                    <h5>تصویر فعلی</h5>
                                    <p class="text-info">00 * 00</p>
                                    <div class="card-subtitle text-danger">درصورت وارد کردن تصویر جدید تصویر فعلی حذف میشود</div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-12 col-md-12 mb-1">
                                    <fieldset>
                                        <div class="input-group">
                                            <div class="custom-file">
                                                <input asp-for="File" type="file" class="custom-file-input">
                                                <label class="custom-file-label">انتخاب تصویر</label>
                                            </div>
                                        </div>
                                    </fieldset>
                                    <div class="help-block">
                                        <span asp-validation-for="File" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="col-12 col-sm-12 col-lg-12">
                                    <div class="form-group">
                                        <label asp-for="Description"></label>
                                        <textarea class="form-control" asp-for="Description" rows="3"></textarea>
                                        <div class="help-block">
                                            <span asp-validation-for="Description" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-6 col-sm-6 col-lg-6">
                                    <div class="form-group">
                                        <div class="controls">
                                            <label asp-for="TotalCustomer"></label>
                                            <input asp-for="TotalCustomer" type="text" class="form-control text-left">
                                            <div class="help-block">
                                                <span asp-validation-for="TotalCustomer" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-6 col-sm-6 col-lg-6">
                                    <div class="form-group">
                                        <div class="controls">
                                            <label asp-for="TotalDoneProject"></label>
                                            <input asp-for="TotalDoneProject" type="text" class="form-control text-left">
                                            <div class="help-block">
                                                <span asp-validation-for="TotalDoneProject" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-6 col-sm-6 col-lg-6">
                                    <div class="form-group">
                                        <div class="controls">
                                            <label asp-for="MetaTitle"></label>
                                            <input asp-for="MetaTitle" type="text" class="form-control text-left">
                                            <div class="help-block">
                                                <span asp-validation-for="MetaTitle" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-6 col-sm-6 col-lg-6">
                                    <div class="form-group">
                                        <div class="controls">
                                            <label asp-for="MetaDescription"></label>
                                            <input asp-for="MetaDescription" type="text" class="form-control text-left">
                                            <div class="help-block">
                                                <span asp-validation-for="MetaDescription" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12 d-flex flex-sm-row flex-column justify-content-end mt-1">
                                    <button type="submit" class="btn btn-primary glow mb-1 mb-sm-0 mr-0 mr-sm-1">ذخیره</button>
                                    <button onclick="history.back()" type="reset" class="btn btn-light">انصراف</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

@section Scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>

    <script>
        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#Selected-Image').attr('src', e.target.result);
                }

                reader.readAsDataURL(input.files[0]);
            }
        }

        $("#File").change(function () {
            readURL(this);
        });
    </script>
}