@model AboutUsDTO
@if (Model != null)
{
	<section class="container my-5">
		<div class="row bg-light banner-bui text-white radius15">
			<div class="col-lg-12 pt-5 px-5 pb-xl-0 pb-5">

				<h2 class="IRANSans_Medium">حسابداری و خدمات حسابرسی</h2>
				<h1 class="text-warning">دانا محاسبان نوین</h1>
				<p>@Model.Description</p>

				<div class="row pb-4">
					@if (Model.TotalDoneProject != null)
					{
						<div class="col-md-4 col-sm-6 stats d-flex flex-column p-2">
							<div class="d-flex flex-row">
								<i class="fal fa-building  text-warning" aria-hidden="true"></i>
								<div class="counting" data-count="@Model.TotalDoneProject">0</div>
							</div>
							<h5>مشاوره های انجام شده</h5>
						</div>
					}

					@if (Model.TotalCustomer != null)
					{
						<div class="col-md-4 stats d-flex flex-column p-2">
							<div class="d-flex flex-row">
								<i class="fal fa-thumbs-up text-warning" aria-hidden="true"></i>
								<div class="counting" data-count="@Model.TotalCustomer">0</div>
							</div>
							<h5>مشتریان راضی</h5>
						</div>
					}
				</div>

			</div>
		</div>

	</section>
}