@section Header{
    @await Component.InvokeAsync("Header")
}

@section Footer{
    @await Component.InvokeAsync("Footer")
}

<section class="banner_area">
    <div class="container">
        <h1 class="text-white IRANSans_Bold">وبلاگ جدولی</h1>
        <div class="breadcrumb_content">
            <ul>
                <li><a href="#">صفحه اصلی</a></li>
                <li><a href="#">وبلاگ جدولی</a></li>
            </ul>
        </div>
    </div>
</section>

<section class="container p-md-5 p-4 ">
    <div class="d-flex flex-row mb-4">
        <div class="Dottedstocol ml-3"></div>
        <div class="singletitle">
            <span>مقالات سایت</span>
            <h1 class="text-right">دسته مقالات مربوط به مهندسی سازه  </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="m-2 blog_style">
                <a href="Blog_destails.html"><img class="card-img-top" src="Img/news-img1.jpg" alt="Card image"></a>
                <div class="card-body">
                    <h3 class="mb-2"><a href="Blog_destails.html">تاثیر نانوذرات بر مصالح ساختمانی</a></h3>
                    <p class="mb-2">
                        با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان وب و گرافیک است با تولید سادگی  …
                    </p>
                    <span><a href="#">فناوری نانو</a></span>

                    <div class="d-flex flex-row justify-content-between mt-2">
                        <div>
                            <span><i class="fal fa-eye ml-2"></i>22</span>
                            <span class="mr-3"><i class="fal fa-comment-alt ml-2"></i>35</span>
                        </div>
                        <a href="Blog_destails.html">ادامه مطلب »</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="m-2 blog_style">
                <a href="Blog_destails.html"><img class="card-img-top" src="Img/news-img4.jpg" alt="Card image"></a>
                <div class="card-body">
                    <h3 class="mb-2"><a href="Blog_destails.html">تاثیر نانوذرات بر مصالح ساختمانی</a></h3>
                    <p class="mb-2">
                        با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان وب و گرافیک است با تولید سادگی  …
                    </p>
                    <span><a href="#">سازه های مدرن</a></span>

                    <div class="d-flex flex-row justify-content-between mt-2">
                        <div>
                            <span><i class="fal fa-eye ml-2"></i>28</span>
                            <span class="mr-3"><i class="fal fa-comment-alt ml-2"></i>35</span>
                        </div>
                        <a href="Blog_destails.html">ادامه مطلب »</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="m-2 blog_style">
                <a href="Blog_destails.html"><img class="card-img-top" src="Img/news-img5.jpg" alt="Card image"></a>
                <div class="card-body">
                    <h3 class="mb-2"><a href="Blog_destails.html">تاثیر نانوذرات بر مصالح ساختمانی</a></h3>
                    <p class="mb-2">
                        با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان وب و گرافیک است با تولید سادگی  …
                    </p>
                    <span><a href="#">تاثیر نانو ذرات</a></span>

                    <div class="d-flex flex-row justify-content-between mt-2">
                        <div>
                            <span><i class="fal fa-eye ml-2"></i>62</span>
                            <span class="mr-3"><i class="fal fa-comment-alt ml-2"></i>35</span>
                        </div>
                        <a href="Blog_destails.html">ادامه مطلب »</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="m-2 blog_style">
                <a href="Blog_destails.html"><img class="card-img-top" src="Img/news-img5.jpg" alt="Card image"></a>
                <div class="card-body">
                    <h3 class="mb-2"><a href="Blog_destails.html">تاثیر نانوذرات بر مصالح ساختمانی</a></h3>
                    <p class="mb-2">
                        با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان وب و گرافیک است با تولید سادگی  …
                    </p>
                    <span><a href="#">مهندسی سازه</a></span>

                    <div class="d-flex flex-row justify-content-between mt-2">
                        <div>
                            <span><i class="fal fa-eye ml-2"></i>45</span>
                            <span class="mr-3"><i class="fal fa-comment-alt ml-2"></i>35</span>
                        </div>
                        <a href="Blog_destails.html">ادامه مطلب »</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="m-2 blog_style">
                <a href="Blog_destails.html"><img class="card-img-top" src="Img/news-img1.jpg" alt="Card image"></a>
                <div class="card-body">
                    <h3 class="mb-2"><a href="Blog_destails.html">تاثیر نانوذرات بر مصالح ساختمانی</a></h3>
                    <p class="mb-2">
                        با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان وب و گرافیک است با تولید سادگی  …
                    </p>
                    <span><a href="#">مقاومت بتن و فولاد</a></span>

                    <div class="d-flex flex-row justify-content-between mt-2">
                        <div>
                            <span><i class="fal fa-eye ml-2"></i>34</span>
                            <span class="mr-3"><i class="fal fa-comment-alt ml-2"></i>35</span>
                        </div>
                        <a href="Blog_destails.html">ادامه مطلب »</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="m-2 blog_style">
                <a href="Blog_destails.html"><img class="card-img-top" src="Img/news-img4.jpg" alt="Card image"></a>
                <div class="card-body">
                    <h3 class="mb-2"><a href="Blog_destails.html">تاثیر نانوذرات بر مصالح ساختمانی</a></h3>
                    <p class="mb-2">
                        با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان وب و گرافیک است با تولید سادگی  …
                    </p>
                    <span><a href="#">صنعت و اقتصاد</a></span>

                    <div class="d-flex flex-row justify-content-between mt-2">
                        <div>
                            <span><i class="fal fa-eye ml-2"></i>62</span>
                            <span class="mr-3"><i class="fal fa-comment-alt ml-2"></i>35</span>
                        </div>
                        <a href="Blog_destails.html">ادامه مطلب »</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="row mt-3">
        <div class="col-12 text-center mx-auto">
            <ul class="pagination  justify-content-center">
                <li class="page-item"><a class="page-link" href="#">«</a></li>
                <li class="page-item active"><a class="page-link" href="#">1</a></li>
                <li class="page-item "><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item "><a class="page-link" href="#">4</a></li>
                <li class="page-item"><a class="page-link" href="#">5</a></li>
                <li class="page-item"><a class="page-link" href="#">»</a></li>
            </ul>
        </div>
    </div>

</section>